# Python bytecode
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
.env/

# data directory
data/
**/data/

# explicitly include packaged reference data inside the library
!mxm_refdata/data/
!mxm_refdata/data/**


# Pytest
.cache/
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log

# macOS
.DS_Store
